.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .grid-box{
    box-shadow:0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
    padding: 2rem;
    margin:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  
  .grid-box img{
    width:auto;
    height: 250px;
  }
  
  .btn{
    background-color:grey;
    border:none;
    color:white
  }
  
  @media (max-width:700px){
    .grid-box{
      max-width:100%;
      padding: 1rem;
      margin:1rem;
      display: grid;
      grid-template-columns: 1fr  ;
    }
    .grid-box img{
      width:200px;
      height: 150px;
    }
  }
  .Titles{
    color:black;
    font-size: 2rem;
  }
  
  @media (max-width:700px){
    
    .singleImage img{
      height:200px;
      width:200px;
    }
  }
  .spinner {
    margin: auto;
    border: 2px solid #dbf2ff; 
    /*
    change to dotted for something cool.
    change width to 1px for tapered bar
    */
    margin-left: 50%!important;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 45%;
    border-radius: 50%;
    border-right: 2px solid #018df7;
    text-align:center;
    animation-name: spin;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    /*animation-timing-function: linear; /*linear spin */
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    /*50% {width:24px;height:24px} /*shrinking effect*/
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
   /*50% {width:24px;height:24px} /*shrinking effect*/
    100% { -webkit-transform: rotate(360deg); }
  }
  
